{% extends "learning_logs/base.html" %}


{% block header %}
  <h2>All keys</h2>
{% endblock header %}


{% block content %}

  {% if message %}
    <p>
      {{message}}
    </p>
  {% endif %}
  <a href="{% url 'keynest:load_keys' %}" class='btn btn-primary'>Load Keys</a>
  <a href="{% url 'keynest:update_keys_status' %}" class='btn btn-primary'>Update Keys Status </a>

  <table class='table'>
    <thead>
      <tr>
        <th>ID</th>
        <th>Keynest ID</th>
        <th>Keynest Name</th>
        <th>Keynest PropertyID</th>
        <th>Status</th>
        <th>Store</th>
      </tr>
    </thead>
    <tbody>
      {% for key in key_list %}
        <tr>
          <td>{{key.id}}</td>
          <td>{{key.keynest_id}}</td>
          <td>{{key.name}}</td>
          <td>{{key.property_id}}</td>
          <td>
            {{key.status|default:""}}
            <br/>
            {{key.full_status|default:""}}
          </td>
          <td>
            {{key.store_name|default:''}}
            <br>
            {{key.store_address|default:''}}
            <br>
            {{key.store_time|default:''}}
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="3">No items</td>
        </tr>
      {% endfor %}

    </tbody>
  </table>
{% endblock content %}
