{% extends "learning_logs/base.html" %}


{% block header %}
  <h2>All keys</h2>
{% endblock header %}


{% block content %}

  {% if message %}
    <p>
      {{message}}
    </p>
  {% endif %}
  <a href="{% url 'keynest:load_keys' %}" class='btn btn-primary'>Load Keys</a>
  <table class='table'>
    <thead>
      <tr>
        <th>ID</th>
        <th>Keynest ID</th>
        <th>Keynest Name</th>
      </tr>
    </thead>
    <tbody>
      {% for key in key_list %}
        <tr>
          <td>{{key.id}}</td>
          <td>{{key.keynest_id}}</td>
          <td>{{key.name}}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="3">No items</td>
        </tr>
      {% endfor %}

    </tbody>
  </table>
{% endblock content %}
